* {
  box-sizing: border-box;
  font-family: Quicksand;
}
.border-Outline {
  height: 450px;
  width: 950px;
  display: flex;
  border: none;
  box-shadow: floralwhite;
}

.logo {
  color: rgb(77, 210, 255);
}
.left-part {
  height: 450px;
  padding: 10px;
  width: 550px;
  color: white;
}
.lheader {
  font-size: 40px;
  text-align: left;
  margin-top: 60px;
  padding: 20px 40px 0px;
}
.left-para {
  text-align: left;
  align-items: center;
  padding: 0px 40px 20px;
}

.right-part {
  height: 450px;
  padding: 10px;
  width: 450px;
  background-color: black;
}
.rheader {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  color: #ad005a;
}

.button {
  background-color: #bc4670;
  width: 250px;
  height: 35px;
  margin-top: 10px;
  border-radius: 20px;
  color: white;
  
}
.haveaccount{
  font-size: 12px;
}
.username{
  padding:0px 40px 0px 40px;
}


/* Homepage CSS */

